* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.nav-bar-all {
  width: 100%;
  background-color: #8d99ae;
  height: 10vh;
  padding-left: 100px;
  padding-right: 100px;
}
.nav-bar-all .nav-bar-all-sec {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #8d99ae;
  position: relative;
}
.nav-bar-all .nav-bar-all-sec img {
  height: 80px;
  width: 80px;
}
@media (max-width: 768px) {
  .nav-bar-all .nav-bar-all-sec img {
    position: absolute;
    top: 5px;
  }
}
.nav-bar-all .nav-bar-all-sec .hamburger {
  top: 25px;
}
.nav-bar-all .nav-bar-all-sec .nav-bar-join {
  display: flex;
}
@media (max-width: 768px) {
  .nav-bar-all .nav-bar-all-sec .nav-bar-join {
    position: absolute;
    left: 0;
    flex-direction: column;
    top: 95px;
    display: none;
  }
}
.nav-bar-all .nav-bar-all-sec .nav-bar-join.show {
  display: flex;
}
@media (min-width: 769px) {
  .nav-bar-all .nav-bar-all-sec > div > a {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    color: white;
  }
  .nav-bar-all .nav-bar-all-sec > div > a:hover {
    text-shadow: 2px 2px 10px white, -2px -2px 10px white;
  }
}
@media (max-width: 768px) {
  .nav-bar-all .nav-bar-all-sec > div > a {
    text-decoration: none;
    margin-top: 15px;
    width: 250px;
    font-size: 30px;
    color: white;
    border-bottom: 1px white solid;
  }
  .nav-bar-all .nav-bar-all-sec > div > a:hover {
    text-shadow: 2px 2px 10px white, -2px -2px 10px white;
  }
}
.nav-bar-all .nav-bar-all-sec .hamburger {
  display: none;
}
@media (max-width: 768px) {
  .nav-bar-all .nav-bar-all-sec .hamburger {
    display: block;
    width: 50px;
    height: 50px;
    left: 0;
  }
  .nav-bar-all .nav-bar-all-sec .hamburger:hover {
    cursor: pointer;
  }
}

.main {
  width: 100%;
  height: 90vh;
  border-top: 2px black solid;
  background-image: url("./img/pexels-cottonbro-studio-4064835.jpg");
  background-position: 0% 87%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.main .form-all {
  display: flex;
  width: 40%;
  height: 70vh;
}
.main .form-all .form-content-boss {
  display: none;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(26, 19, 19, 0.9);
  text-shadow: 2px 2px 8px white, -2px -2px 8px white;
  position: relative;
}
.main .form-all .form-content-boss .big-title {
  font-size: 30px;
  color: white;
}
.main .form-all .form-content-boss .x-mark {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50px;
  right: 80px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .main .form-all .form-content-boss .x-mark {
    right: 40px;
  }
}
@media (max-width: 765px) {
  .main .form-all .form-content-boss .x-mark {
    right: 20px;
  }
}
@media (max-width: 600px) {
  .main .form-all .form-content-boss .x-mark {
    right: 0px;
    top: 0px;
  }
}
.main .form-all .form-content-boss input[type=text],
.main .form-all .form-content-boss input[type=password] {
  width: 500px;
  height: 80px;
  border: none;
  border-radius: 20px 20px 20px 20px;
  background-color: black;
  border: 2px white solid;
  color: white;
  font-size: 20px;
  padding-left: 10px;
}
@media (max-width: 1300px) {
  .main .form-all .form-content-boss input[type=text],
  .main .form-all .form-content-boss input[type=password] {
    width: 350px;
  }
}
@media (max-width: 970px) {
  .main .form-all .form-content-boss input[type=text],
  .main .form-all .form-content-boss input[type=password] {
    width: 250px;
  }
}
@media (max-width: 769px) {
  .main .form-all .form-content-boss input[type=text],
  .main .form-all .form-content-boss input[type=password] {
    width: 150px;
    height: 60px;
  }
}
.main .form-all .submit {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;
  background-color: #2dde98;
  transition: 0.2s;
  color: white;
}
.main .form-all .submit:hover {
  background-color: #ff4f81;
  transform: translate(0px, -5px);
}
@media (max-width: 1200px) {
  .main {
    background-position: 50% 87%;
  }
}/*# sourceMappingURL=index.css.map */