$bg-main: rgba(0, 0, 0, 0.55);
$white: #ffff;
$fade-white: rgba(255, 255, 255, 0.65);
$green-btn: #2dde98;
$green-btn-hover: #ff4f81;
$red:red;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(../img/bg/oriental-tiles.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;


    main {
        width: 100%;
        padding: 50px;

        display: flex;
        justify-content: center;
        align-items: center;

        .my-form {
            width: 50%;
            background-color:$bg-main;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .big-title {
                font-size: 2rem;
                color: $white;
            }

            .form-all {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-top: 10px;

                .form-content{
                    width: 75%;
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: $bg-main;
                    select{
                        width: 75px;
                        padding: 4px 2px;
                        display: flex;
                        align-items: center;
                        border-radius: 4px;
                    }
                    input{
                        width: 100%;
                        padding: 8px 16px;
                        border-radius: 4px;
                        background-color: $bg-main;
                        color: $white;
                        font-size: 24px;
                        outline: none;
                        border: 0.5px solid $white;
                        ::placeholder{
                            color: $fade-white;
                        }

                    }
                    .phone-text{
                        display: none;
                        font-size: 12px;
                       padding: 10px 0px;
                        color:$red ;
                    }
                    input[type="password"]{
                        outline: none;
                        background-color: $bg-main;

                    }
                    // #form-password{
                    //     width: 500px;

                    // }
                }
                .birthday{
                    height: 44px;
                    flex-direction: row;
                }
            }





        }

        .sing-up-now {
            display: block;
            color: $white;
            text-decoration: none;
        }
    }
}