$bg-main: rgba(0, 0, 0, 0.55);
$white: #ffff;
$fade-white: rgba(255, 255, 255, 0.65);
$green-btn: #2dde98;
$green-btn-hover: #ff4f81;
$red: red;
$place-holder-fz : 16px;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(../img/bg/oriental-tiles.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;


    main {
        width: 100%;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        .my-form {
            width: 50%;
            background-color: $bg-main;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            @media (max-width:750px) {
                width: 75%;
            }

            @media (max-width:500px) {
                width: 100%;
            }

            .big-title {
                font-size: 2rem;
                color: $white;
                font-weight: bold;
                padding-top: 5px;
            }

            .form-all {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-top: 10px;

                .form-content {
                    width: 75%;
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: $bg-main;

                    .cname {
                        background-image: url("../img/circle-user.svg");
                        background-position: 2%;
                        background-repeat: no-repeat;
                        background-size: 30px;
                        padding-left: 50px;

                        @media (max-width:890px) {
                            background-image: none;
                            padding: 0px;
                        }
                    }

                    .email {
                        background-image: url("../img/envelope-solid.svg");
                        background-position: 2%;
                        background-repeat: no-repeat;
                        background-size: 30px;
                        padding-left: 50px;

                        @media (max-width:890px) {
                            background-image: none;
                            padding: 0px;
                        }


                    }

                    .cellphone {
                        background-image: url("../img/phone-solid.svg");
                        background-position: 2%;
                        background-repeat: no-repeat;
                        background-size: 30px;
                        padding-left: 50px;

                        @media (max-width:890px) {
                            background-image: none;
                            padding: 0px;
                        }
                    }

                    #form-password {
                        background-image: url("../img/unlock-keyhole-solid.svg");
                        background-position: 2%;
                        background-repeat: no-repeat;
                        background-size: 30px;
                        padding-left: 50px;

                        @media (max-width:890px) {
                            background-image: none;
                            padding: 0px;
                        }
                    }

                    .form-password {
                        background-image: url("../img/unlock-keyhole-solid.svg");
                        background-position: 2%;
                        background-repeat: no-repeat;
                        background-size: 30px;
                        padding-left: 50px;

                        @media (max-width:890px) {
                            background-image: none;
                            padding: 0px;
                        }


                    }

                    .fz {
                        font-size: $place-holder-fz ;
                        height: 50px;


                    }

                    select {
                        width: 75px;
                        padding: 4px 2px;
                        display: flex;
                        align-items: center;
                        border-radius: 4px;
                    }

                    input {
                        width: 100%;
                        padding: 8px 16px;
                        border-radius: 4px;
                        background-color: $bg-main;
                        color: $white;
                        font-size: 24px;
                        outline: none;
                        border: 0.5px solid $white;

                        ::placeholder {
                            color: $fade-white;

                        }

                    }

                    .password-test-text {
                        display: none;
                        font-size: 12px;
                        padding: 10px 0px;
                        color: $red ;

                        @media (max-width:430px) {
                            font-size: 6px;
                        }
                    }

                    .password-text {
                        display: none;
                        font-size: 12px;
                        padding: 10px 0px;
                        color: $red ;

                        @media (max-width:430px) {
                            font-size: 6px;
                        }
                    }

                    .email-text {
                        display: none;
                        font-size: 12px;
                        padding: 10px 0px;
                        color: $red ;

                        @media (max-width:430px) {
                            font-size: 6px;
                        }
                    }

                    .name-text {
                        display: none;
                        font-size: 12px;
                        padding: 10px 0px;
                        color: $red ;

                        @media (max-width:430px) {
                            font-size: 6px;
                        }
                    }

                    .phone-text {
                        display: none;
                        font-size: 12px;
                        padding: 10px 0px;
                        color: $red ;

                        @media (max-width:430px) {
                            font-size: 6px;
                        }
                    }

                    input[type="password"] {
                        outline: none;
                        background-color: $bg-main;

                    }

                    // #form-password{
                    //     width: 500px;

                    // }
                }

                .birthday {
                    height: 44px;
                    flex-direction: row;
                    background-image: url("../img/calendar-days.svg");
                    background-position: 2%;
                    background-repeat: no-repeat;
                    background-size: 30px;

                    @media (max-width:890px) {
                        background-image: none;
                        padding: 0px;
                    }

                    @media (max-width:640px) {
                        flex-direction: column;
                        height: 75px;
                    }
                }

                .form-submit {
                    background-color: #2dde98;
                    font-size: 20px;
                    color: white;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-radius: 20px 20px 20px 20px;
                    cursor: pointer;
                    transition: background-color 0.2s;

                    &:hover {
                        background-color: #ff4f81;

                    }

                    @media (max-width:400px) {
                        padding-left: 8px;
                        padding-right: 8px;
                    }
                }

            }

            .sing-up-now {
                margin-bottom: 15px;

                &:hover {
                    opacity: 0.5;
                }
            }



        }

        .sing-up-now {
            display: block;
            color: $white;
            text-decoration: none;
        }
    }
}